.title-lg {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-title-lg);
    line-height: var(--line-height-title-lg);
}

.title-md {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title-md);
    font-weight: var(--font-weight-title-md);
    line-height: var(--line-height-title-md);
}

.title-sm {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-title-sm);
    line-height: var(--line-height-title-sm);
}

.title-xs {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title-xs);
    font-weight: var(--font-weight-title-xs);
    line-height: var(--line-height-title-xs);
}

.title-h5 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title-h5);
    font-weight: var(--font-weight-h5);
    line-height: var(--line-height-h5);
}
