.button__ellipse {
    border-radius: 37px;
    padding: 10px 36px;

    border: 1px solid var(--secondary-color-1, #00A0C1);

    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    line-height: var(--line-height-button);

    &:hover {
        background: var(--secondary-color-1, #00A0C1);
        color: var(--light-text-color, #FFF);
    }

    /* pressed*/
    //     background: var(--secondary-color-1, #00A0C1);
    
    
}


.button__rectangle {

    padding: 15px 22.5px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    
    background: var(--primary-color, #FFA62B);
    color: var(--light-text-color, #FFFFFF);

}

.button__round {
    padding: 34.8px 36.8px;
    align-items: center;

    border-radius: 73.6px;
    background: var(--secondary-color-1, #00A0C1);
}