:root {

    /* colors*/
    --text-color: #252B42;
    --second-text-color: #737373;
    --light-text-color: #FFFFFF;
    --secondary-color-1: #00A0C1;
    --secondary-color-2: #16697A;
    --primary-color: #FFA62B;

    --light-background-color: #FFFFFF;
    --dark-background-color: #252B42;
    
    --disabled-element-color: #8EC2F2;

    /* font */
    --font-family-base: "Montserrat", sans-serif;

    --font-size-base: 14px;
    --font-weight-base: 500;
    --line-height-base: 1.5; /*20px*/

    --font-size-title-lg: 58px;
    --font-weight-title-lg: 800;
    --line-height-title-lg: 1.37; /*80px*/

    --font-size-title-md: 40px;
    --font-weight-title-md: 700;
    --line-height-title-md: 1.5; /*57px*/

    --font-size-title-sm: 24px;
    --font-weight-title-sm: 700;
    --line-height-title-sm: 1.33; /*32px*/

    --font-size-title-xs: 20px;
    --font-weight-title-xs: 500;
    --line-height-title-xs: 1.5; /*30px*/

    --font-size-title-h5: 16px;
    --font-weight-h5: 700;
    --line-height-h5: 1.5; /* 24px */

    --font-size-button: 14px;
    --font-weight-button: 700;
    --line-height-button: 2; /* 28px */
    

}